@import "../../variables";

.cancelPage {
  background-size: cover;
  width: 100vw;
  min-height: calc(100vh - 40px);
  background-image: url("../../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

h2 {
  text-align: center;
}

.container {
  background-color: $white-60;
  width: 50%;
  margin: 20px auto;
  text-align: center;
  padding: 10px 20px 20px 20px;
}

.btn {
  margin: 10px auto;
  padding: 0;
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
  }
}
