@import "../variables";

h1 {
  margin: 60px;
  margin-bottom: 60px;
}

.bpage {
  padding-top: 40px;
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
}

.list {
  background-color: rgba(255, 255, 255, 0);
  width: 90%;
  margin: 0 auto !important;
  padding-bottom: 30px !important;
}

.list a {
  text-align: center;
  margin: 5px 0 !important;
  background: $white-60;
}

.list a:hover {
  background: rgba(255, 255, 255, 0.9);
}

.avtr {
  height: 50px !important;
  width: 50px !important;
}

.filter {
  height: 40px;
  width: 40px;
}

.filterbtn {
  float: right;
}

.popperContent {
  background-color: $white;
  height: 200px;
  width: 160px;
  padding: 20px;
}

.popperContent > * {
  float: right;
}

.popperContent > p {
  font-size: 12px !important;
  text-transform: uppercase;
}

.popperContent > button {
  margin: 20px;
}

.liText {
  font-size: 1.2rem !important;
}

.liTextS {
  font-size: 1rem !important;
  padding-right: 20px !important;
}

link {
  text-decoration: none;
}
