@import "../variables";

h1 {
  margin: 60px;
  margin-bottom: 60px;
}

.bpage {
  padding-top: 40px;
  background-size: cover;
  width: 100vw;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
}

.list {
  background-color: rgba(255, 255, 255, 0);
  width: 90%;
  margin: 0 auto !important;
}

.list a {
  text-align: center;
  margin: 5px 0 !important;
  background: rgba(255, 255, 255, 0.6);
}

.avtr {
  height: 50px !important;
  width: 50px !important;
}

.liText {
  font-size: 1.2rem !important;
}

.liTextS {
  font-size: 1rem !important;
  padding-right: 20px !important;
}

link {
  text-decoration: none;
}
