@import "../variables";

.navContainer {
  background-color: $white;
  width: 100%;
  position: absolute;
}

link {
  margin: 0 !important;
  padding: 0 !important;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
}

.fl-left {
  float: left;
}

.fl-right {
  float: right;
  margin-right: 1rem;
}

.logo-icon, .login-icon {
  height: 20px;
  display: inline-block;
  margin: 10px;
  margin-bottom: 5px;
}
