@import "../variables";

.h1 {
  margin: 40px;
  margin-top: 0;
  background-color: $white-80;
  padding: 10px;
}

.back {
  display: inline-block;
  //background-color: $white-60;
  margin-top: 2px;
}

.back * {
  float: left;
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.back p {
  margin-top: 15px;
  margin-right: 10px;
}

.arrow {
  height: 50px;
  width: 50px;
}

.header {
  height: 100px;
}

.room {
  width: 100vw;
  height: calc(100vh);
  background: $beige url("../img/room.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 40px;
}

.roomInfo {
  width: 50%;
  margin: 0 auto;
  background-color: $white-80;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.line {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.line > * {
  margin-left: 20px;
  margin-right: 20px;
}

.booking {
  background-color: $blue-light;
  text-align: center;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  width: 185px;
}

.booking > a {
  color: white;
  font-weight: 600;
}

.roomInfo p {
  display: inline-block;
  font-size: 20px;
}

.largeIcon {
  height: 60px;
  width: 60px;
  display: inline-block;
  padding-top: 10px;
  padding-right: 10px;
}

@media only screen and (max-width: 600px) {
  .roomInfo {
    width: 90%;
  }

  .line {
    margin: 10px;
  }

  h1 {
    font-size: 2em !important;
  }
}
