@import "../variables";

.h1 {
  margin: 0 60px 60px;
}

.back {
  display: inline-block;
}

.back * {
  float: left;
}

.back a {
  color: black;
}

.back p {
  margin-top: 12px;
}

.arrow {
  height: 50px;
  width: 50px;
}

.address {
  text-align: center;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}

.rpage {
  background-size: cover;
  width: 100vw;
  min-height: calc(100vh);
  background-image: url("../img/toimisto.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.list {
  background-color: rgba(255, 255, 255, 0);
  width: 90%;
  margin: 0 auto !important;
}

.list li {
  margin: 5px 0 !important;
  background: rgba(255, 255, 255, 0.7);
}

.list li div {
  text-align: center;
}

.avtr {
  height: 50px !important;
  width: 50px !important;
}

.liText {
  font-size: 1.2rem !important;
}

.liTextS {
  font-size: 1rem !important;
  padding-right: 20px !important;
}

link {
  text-decoration: none;
}
